@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.destination {
  height: 100vh;
  width: 100vw;
  background: #fcfbf9;
  @include flex-center(column);
}